<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<B>Objectives</B>

- List popular languages covered in data science
- List popular libraries covered in data science
- List popular open-source tools used in data science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

<table>
    <thead>
        <tr>
            <th>Data Science Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jupyter</td>
        </tr>
        <tr>
            <td>VS Code</td>
        </tr>
        <tr>
            <td>R Studio</td>
        </tr>
    </tbody>
</table>

<H3>Below are a few examples of evaluating arithmetic expressions in Python.</H3>

In [10]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Nick DeSelle